/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
  --bg-color: #232323;
  --primary-color: #e0e6e1;
  --secondary-color: #32ec5a;
  --secondary-shadow-color: #32ec5a50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Noto Sans KR', 'Noto Sans JP', serif;
}

body {
  background-color: var(--bg-color);
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 6rem;
}
